---
---
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>NCBI-Hackathons</title>
    <style type="text/css">
      h5 { font-size: 20px; }
    </style>

  </head>

  <body>

    {% include header.html %}

    <div class="container py3">
      <div class="row">

        <div class="col-xs-12">
          <div class="design-uno panel panel-default">
            <div class="p3">
              <p class="h0">Upcoming Hackathons</p>

              {% include upcoming-hackathons.html %}

            </div>
          </div>
        </div>

      </div><!-- /.row -->
      <div class="row">

        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="p3">
              <p class="h0">NCBI Hackathon Products</p>

              {% include hackathon-products.html %}

            </div>
          </div>
        </div>

      </div><!-- /.row -->

      <h5><a href=" https://f1000research.com/channels/hackathons">Representative manuscripts</a></br></h5>

    </div><!-- /.container -->
                <div class="container">
                </div>

                <div class="panel panel-default">


</div>
<div class="panel panel-info">
<div class="panel-heading">
<h5> Featured Resources</h5>
</div>
<div class="panel-body">
<h5><a href="https://ncbi-hackathons.github.io/EDirectCookbook/"><span class="glyphicon glyphicon-star">EDIRECT_COOKBOOK </span></a></br></h5>
</div>

              </div>
    {% include footer.html %}

  </body>

</html>
