<footer class="site-footer footer">

    <div class="container">
        <div class="row">

            <div class="column col-xs-9">
                <h4>Contact</h4>
                <address>
                    <a href="mailto:biohackathons@gmail.com" style="color: white">biohackathons@gmail.com</a>
                    <a href="https://github.com/dcgenomics" style="color: white">@dcgenomics</a>
                </address>
            </div>

            <div class="column col-xs-3-offset-3"></div>

        </div><!-- /.row -->
        <div class="row">

            <div class="bottom-footer">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <ul class="footer-nav">
                        <li>
                            <a href="index.html">
                                <span class="glyphicon glyphicon-home"></span>
                                Home</a>
                        </li>
                        <li>
                            <a>Blog</a>
                        </li>
                        <li>
                            <a href="Contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="https://github.com/biohackathons">Link</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->

</footer>
