<footer class="site-footer footer">

  <div class="container">
    <div class="row">

      <div class="column col-xs-9">
        <h4>Contact Address</h4>
        <address>
          National Library of Medicine<br>
          8600 Rockville Pike<br>
          Bethesda, MD USA 20894<br>
        </address>
      </div>

      <div class="column col-xs-3-offset-3">
        <a href="http://www.linkedin.com/company/national-center-for-biotechnology-information-ncbi-"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x"></i></span></a>
        <a href="http://www.twitter.com/ncbi"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a>
        <a href="http://www.facebook.com/ncbi.nlm"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a>
        <a href="https://www.ncbi.nlm.nih.gov/news/announcements-list"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-rss fa-stack-1x"></i></span></a>
        <a href="http://www.youtube.com/ncbinlm"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-youtube fa-stack-1x"></i></span></a>
      </div>

    </div><!-- /.row -->
    <div class="row">

      <div class="bottom-footer">
        <div class="col-md-5">@Copyright NCBI 2016.</div>
        <div class="col-md-7">
          <ul class="footer-nav">
            <li><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="https://ncbiinsights.ncbi.nlm.nih.gov/">Blog</a></li>
            <li><a href="Contact.html">Contact</a></li>
            <li><a href="https://github.com/NCBI-Hackathons">Link</a></li>
          </ul>
        </div>
      </div>

    </div><!-- /.row -->
  </div><!-- /.container -->

</footer>
