<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://unpkg.com/basscss@7.1.1/css/basscss.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>TITLE</title>
    <meta name="description" content="">
    <meta name="author" content="Brian Zelip">
    <meta name="keywords" content="">
  </head>

  <body>

    <header class="" style="background-color: rgb(43,97,154);">
      <div class="container">
        <nav class="p2 flex flex-center">
          <a href="#" class="mr1" style="margin-top: .3rem;">
            <img src="img/ncbi_logo_helix.png" alt="">
          </a>
          <a href="#" class="white"><h1 class="h2 regular inline">NCBI Hackathons</h1></a>
        </nav>
      </div>
    </header>

    <section class="bg-darken-1">
      <div class="container">

        <div class="flex">
          <div class="col-6 p2">
            <div class="border">
              <div class="p2">
                <p class="h2">Upcoming hackathons</p>
                <ul>
                  <li>June 19-21 New York Genome Center</li>
                  <li>August 14-16, NIH Campus</li>
                  <li>September 25-27, Pittsburgh, PA</li>
                  <li>January 8-10, NIH Campus</li>
                  <li>February 19-21, Baylor College of Medicine</li>
                  <li>March 11-14, NIH Campus</li>
                  <li>May 15-17, 2018, Ann Arbor, MI</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6 p2">
            <div class="border">
              hello
            </div>
          </div>
        </div>

      </div>
    </section>

  </body>

</html>
