---
---
<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container py3">
      <div class="row">

        <div class="col-xs-12">
          <div class="design-uno panel panel-default">
            <div class="p3">
              <p class="h0">Upcoming Hackathons</p>

              {% include upcoming-hackathons.html %}

            </div>
          </div>
        </div>

      </div><!-- /.row -->
      <div class="row">

        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="p3">
              <p class="h0">NCBI Hackathon Products</p>

              {% include hackathon-products.html %}

            </div>
          </div>
        </div>

      </div><!-- /.row -->

    </div><!-- /.container -->

    {% include footer.html %}

  </body>

</html>
