---
---
<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container py3">
      <div class="row">

        <div class="col-xs-12">
          <div class="design-uno panel panel-default">
            <div class="p3">
              <p class="h0">Upcoming Hackathons</p>

              {% include upcoming-hackathons.html %}

            </div>
          </div>
        </div>

      </div><!-- /.row -->
      <div class="row">

        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="p3">
              <p class="h0">NCBI Hackathon Products</p>

              {% include hackathon-products.html %}

            </div>
          </div>
        </div>

      </div><!-- /.row -->
      <div class="row">

        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="p3">
              <p class="h0">NCBI Hackathon Products</p>

              <div class="flex flex-wrap mxn2">
                {% for product in site.data.hackathon_products %}
                <div class="col-3 flex-auto m2 border">
                  <div class="p2">
                    <p class="bold">{{ product.name }}</p>
                    <p>{{ product.desc }}</p>
                    <div class="small">
                      <a href="{{ product.repo_URL }}"><i class="fa fa-github fa-lg"></i> source code</a>{% if product.manuscript_URL %} | <a href="{{ product.manuscript_URL }}"><i class="fa fa-book fa-lg"></i> manuscript</a>{% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>

            </div>
          </div>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->

    {% include footer.html %}

  </body>

</html>
